{% extends "index.html" %}

{% block content %}
<main>
    <h1 class="page-title">Error!</h1>
    <p>
        Seems like categories file for year <b>{{ year }}</b> <u>does not</u> exists.
    </p>

    <p>
        You can create empty one, or select from which year the file should be copied.
    </p>

    <p>
        <i>You can always change it using <a href="{{ url_for('main.categories_edit', year=year) }}">"Edit
                categories"</a></i>
    </p>

    <form method="POST" class="create-form middle">
        {{ form.hidden_tag() }}
        {{ form.template_year.label }}
        {{ form.template_year() }}
        {{ form.submit() }}

    </form>
</main>
{% endblock %}