{% extends "index.html" %}


{% block content %}
<main>
    <div class="middle-container">
        <h1 class="page-title">Welcome {{ full_name }} to your dashboard!</h1>
        <p>Here you can view your expenses, manage your budget, and more.</p>
        <ul class="dashboard-menu">
            <li><a href="{{ url_for('main.expenses_append') }}">💵 Append expense</a></li>
            <li><a href="{{ url_for('main.expenses_edit', year=date.year) }}">✒️ Edit expenses</a></li>
            <li><a href="{{ url_for('main.expenses_view_month', year=date.year, month=date.month) }}">📅 Monthly
                    report</a></li>
            <li><a href="{{ url_for('main.expenses_view_year') }}">🗓️ Yearly report</a></li>
            <li><a href="{{ url_for('main.categories_edit', year=date.year) }}">🗃️ Edit categories</a></li>
            <li><a href="{{ url_for('main.account') }}">🔧 Account settings</a></li>

        </ul>
    </div>
</main>
{% endblock %}