{% extends "index.html" %}

{% block content %}
<main>
  <h1 class="page-title">Append expense:</h1>
  <form method="POST" class="expenses-append-form">
    {{ form.hidden_tag() }}

    {{ form.category.label }}
    {{ form.category() }}

    {{ form.expense_date.label }}
    {{ form.expense_date(min=current_year ~ '-01-01', max=current_year ~ '-12-31') }}

    {{ form.amount.label }}
    {{ form.amount() }}

    {{ form.description.label }}
    {{ form.description() }}
    <br />
    {{ form.submit() }}

  </form>
</main>
{% endblock %}