{% extends "index.html" %}

{% block content %}
<main>
  <h1 class="page-title">Append expense:</h1>
  <form method="POST" class="expenses-append-form">
    {{ form.hidden_tag() }}

    {{ form.category.label }}
    {{ form.category(class_="select2") }}

    {{ form.expense_date.label }}
    {{ form.expense_date(min=current_year ~ '-01-01', max=current_year ~ '-12-31') }}

    {{ form.amount.label }}
    {{ form.amount() }}

    {{ form.description.label }}
    {{ form.description() }}
    <br />
    {{ form.submit() }}

  </form>
  <details>
    <summary>How does it works?</summary>
    <p>Each category marked as an expense will decrease the account's yearly balance. Categories marked as income will
      increase it.</p>
    <p>You can override this behavior by entering a negative value in the amount field (using “-”). This is useful for
      cases like reimbursements. For example, if you made a purchase and later received a cashback, you can first log
      the expense, then log the compensation with a negative amount. The balance will reflect the net amount, while both
      entries remain visible in the records.</p>
  </details>

</main>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  $(document).ready(function () {
    $('.select2').select2();
  });
</script>
{% endblock %}