{% extends "index.html" %}

{% block content %}
<main>
    <h1 class="page-title">Error!</h1>
    <p>
        Hey! Requested year <strong>{{ year }}</strong> <u>does not</u> exists!
    </p>

    <p>
        You can create one by specyfing the initial balance for newly created expense record.
    </p>

    <p>
        <i>You can always change it using <a href="{{ url_for('main.expenses_edit', year=year) }}">"Edit
                expenses"</a></i>
    </p>

    <form method="POST" style="width: 300px" class="create-form middle">
        {{ form.hidden_tag() }}

        {{ form.initial_balance_amount.label }}
        {{ form.initial_balance_amount() }}

        {{ form.submit() }}

    </form>
</main>
{% endblock %}