{% extends "index.html" %}
{% block content %}
<script>
    year_expenses = {}
</script>
<div class="middle-container">
    <h1 class="page-title centered">Monthly view</h1>
    <table class="expenses-view month">
        <thead>
            <tr>
                <th colspan="3" class="time-span-header">
                    <select id="year-select"
                        onchange="location = this.value + '/' + (document.getElementById('month-select').selectedIndex + 1);">
                        {% for available_year in available_years %}
                        <option value="{{ url_for('main.expenses_view_year', year=available_year) }}" {% if
                            available_year|int==year|int %}selected{% endif %}>
                            {{ available_year }}
                        </option>
                        {% endfor %}
                    </select>
                    /
                    <select id="month-select"
                        onchange="location = document.getElementById('year-select').value + '/' + (this.selectedIndex + 1);">
                        {% for i in range(12) %}
                        <option value="{{ url_for('main.expenses_view_month', year=year, month=loop.index) }}" {% if
                            loop.index0==month %}selected{% endif %}>
                            {{ month_names[i] }}
                        </option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr>
                <th class="category">Category</th>
                <th class="category-type">Type</th>
                <th class="month">{{ month_names[month] }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for category_type, categories_by_type in expenses_monthly_totals_by_category_type.items() %}
            {% for category, totals in categories_by_type.items() %}
            <tr class="category-row {{ category_type.value }}">
                <td class="category-cell">{{ category }}</td>
                <td class="category-type-cell">{{ category_type.value[0] }}</td>
                <td class="amount-cell">
                    {% if category_type != CategoryType.INCOME %}
                    {{ -totals[month] | round(2) }}
                    {% else %}
                    {{ totals[month] | round(2) }}
                    {% endif %}
                    {{ currency }}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}

            <tr class="row-separator">
                <td colspan="3" class="current-balance-cell">💸 Current balance: {{ current_balance | round(2) |
                    format_number}}
                    {{ currency }}</td>
            </tr>

            <tr class="total-by-month-row">
                <td colspan="2" class="category-cell">Total</td>
                <td class="total-amount-cell">{{ monthly_balance[month] | round(2) | format_number }} {{ currency }}
                </td>
            </tr>

            <tr class="row-separator">
                <td colspan="3"><canvas id="regionBar" style="width: 100%; height: 20px;"></canvas></td>
            </tr>

            {% for category_type, totals in monthly_balance_per_category_type.items() %}
            <tr class="category-row {{ category_type.value }}">
                <td colspan="2" class="category-cell"
                    rowspan="{% if category_type != CategoryType.INCOME %}2{% else %}1{% endif %}">{{
                    category_type.value }}</td>
                <td class="total-amount-cell">{{ totals[month] | round(2) | format_number }} {{ currency }}</td>
            </tr>

            {% if category_type != CategoryType.INCOME %}
            <tr class="category-row {{ category_type.value }}">
                <td class="total-amount-prcnt-cell">
                    {% set income = monthly_balance_per_category_type[CategoryType.INCOME][month] %}
                    {% set expense = totals[month] | abs %}
                    {% if income > 0 %}
                    {{ (expense / income * 100) | round(1) | format_number }} %

                    <script>
                        year_expenses["{{ category_type.value }}"] = {{ (expense / income * 100) | round(0) }};
                    </script>
                    {% else %}
                    0 %
                    {% endif %}
                </td>



            </tr>
            {% endif %}
            {% endfor %}


        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='bar_graph.js') }}"></script>

{% endblock %}