{% extends "index.html" %}


{% block content %}
<main>
  <form method="POST" style="width: 200px" class="standard-form">
    {{ form.hidden_tag() }}

    <h1>Login:</h1>
    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
    <div class="form-group">
      <label>{{ form.username.label }}:</label> {{ form.username() }}<br>
    </div>
    <div class="form-group">
      <label>{{ form.password.label }}:</label>{{ form.password() }}
    </div>
    <div class="form-group">
      {{ form.submit() }}
    </div>
  </form>
</main>
{% endblock %}