{% extends "index.html" %}

{% block content %}
<main>

    <h1 class="page-title">Savings withdraw</h1>
    <h2>{{ category }}</h2>
    <p>Current balance: {{ balance | float | format_number }} {{ currency }}</p>
    <form method="POST" class="savings-form">
        {{ form.hidden_tag() }}

        {{ form.amount.label }}
        {{ form.amount() }}

        {{ form.year_select.label }}
        {{ form.year_select() }}

        <br />
        {{ form.submit() }}

    </form>
</main>

{% endblock %}