{% extends "index.html" %}

{% block content %}
<table border="1" id="expenses-table">
    <thead>
        <tr>
            <th colspan="3" class="time-span-header">
                Year
                <select id="year-select" onchange="location = this.value;">
                    {% for available_year in available_years %}
                    <option value="{{ url_for('main.view_month', year=available_year, month=month) }}" {% if
                        available_year==year %}selected{% endif %}>
                        {{ available_year }}
                    </option>
                    {% endfor %}
                </select>

                Month
                <select id="month-select" onchange="location = this.value;">
                    {% for m in months %}
                    <option value="{{ url_for('main.view_month', year=year, month=loop.index) }}" {% if
                        loop.index==month %}selected{% endif %}>
                        {{ m }}
                    </option>
                    {% endfor %}
                </select>
            </th>
        </tr>
        <tr>
            <th>Category</th>
            <th class="category-type">Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for category_type, categories_by_type in categories.items() %}
        {% for category in categories_by_type %}
        <tr class="category-row {{ category_type }}">
            <td>{{ category }}</td>
            <td class="category-type">{{ category_type[0:1].title() }}</td>
            <td class="expense-cell">
                {% set value = expenses[category] %}
                {% if value and category_type != "Income" %}-{% endif %}{{ value | format_number }} {{ currency }}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}

        <tr class="row-separator">
            <td colspan="3"></td>
        </tr>

        <tr>
            <td colspan="2" class="total-cell">Total</td>
            <td class="total-cell">{{ total_expenses | format_number }} {{ currency }}</td>
        </tr>

        <tr class="row-separator">
            <td colspan="3"></td>
        </tr>

        {% for category_type, categories_by_type in categories.items() %}
        <tr class="category-row {{ category_type }}">
            {% set row_span = 2 if category_type != "Income" else 1 %}
            <td colspan="2" rowspan="{{ row_span }}">{{ category_type }}</td>


            <td class="total-cell">
                {% set nsm = namespace(month_total=0) %}
                {% for category in categories_by_type %}
                {% set nsm.month_total = nsm.month_total + expenses[category] %}
                {% endfor %}
                {{ nsm.month_total | round(2) }} {{ currency }}
            </td>


        </tr>
        {% if category_type != "Income" %}
        <tr>
            <td>
                {% set ns = namespace(month_income=0) %}
                {% for category in categories["Income"] %}
                {% set ns.month_income = ns.month_income + expenses[category] %}
                {% endfor %}
                {% if ns.month_income > 0 %}
                {% set month_total_prnct = nsm.month_total | abs / ns.month_income * 100 %}
                {{ month_total_prnct | format_number }} %
                {% else %}
                0 %
                {% endif %}
            </td>
        </tr>
        {% endif %}

        {% endfor %}
    </tbody>
</table>

<div class="expense-report-summary" style="display:flex; justify-content: space-between; margin-top:1em;">
    <div class="left">
        <div class="label">Current balance:</div>
        <div class="amount">{{ current_balance }} {{currency}}</div>
    </div>
    <div class="right" style="max-width: 600px; width: 100%;">
        <canvas id="monthChart" style="width:100%;"></canvas>
    </div>
</div>

<script>
    month_expenses = {};
</script>

<script>
    const barColors = Object.keys(month_expenses).map(cat => {
        const row = document.querySelector("tr." + cat.replace(/\s+/g, '.'));
        return row ? getComputedStyle(row).backgroundColor : "#888";
    });

    new Chart("monthChart", {
        type: "pie",
        data: {
            labels: Object.keys(month_expenses),
            datasets: [{
                backgroundColor: barColors,
                data: Object.values(month_expenses)
            }]
        },
        options: {
            title: {
                display: true,
                text: "{{ month }} {{ year }} Expenses Breakdown",
            },
            legend: {
                position: "right"
            }
        }
    });
</script>

{% endblock %}