<section class="container">
    <nav>
        <ul>
            <li>
                <details class="dropdown">
                    <summary>☰ Menu</summary>
                    <ul>
                        <li><a href="/dashboard" title="Dashboard">𓃑 Dashboard</a></li>

                        <li><a href="/report/append/{{ ctx.now().year() }}" title="Append to report">✍️ Append to report</a></li>

                        <li><a href="/report/view/{{ ctx.now().year() }}" title="Yearly report">🗓️ Yearly report</a></li>

                        <li><a href="/report/view/{{ ctx.now().year() }}/{{ ctx.now().month() }}" title="Monthly report">📅 Monthly report</a></li>

                        <li><a href="/report/edit/{{ ctx.now().year() }}" title="Edit report">✒️ Edit report</a></li>

                        <li><a href="/categories/edit/{{ ctx.now().year() }}" title="Edit categories">🗃️ Edit categories</a></li>

                        <li><a href="/plans/view/{{ ctx.now().year() }}" title="Budget plans">💸 Budget plans</a></li>

                        <li><a href="/savings/view" title="Savings">💰 Savings</a></li>

                        <li><a href="#" title="Graphs" aria-disabled="true" data-tooltip="Soon!">📊 Graphs</a></li>

                        <li><a href="/account/view" title="Account settings">🔧 Account settings</a></li>

                        <li><a href="/account/logout" title="Logout">➜] Logout</a></li>
                    </ul>
                </details>
            </li>
        </ul>